:root {
    --bg-clear-sky: rgb(135, 206, 235);
    --bg-clear-sky-night: linear-gradient(to bottom, rgba(0, 10, 40, 0.95), rgba(0, 10, 40, 0.8)); /* Gradient from very dark blue to slightly lighter blue */
    --bg-mainly-clear: rgba(135, 206, 235, 0.8);
    --bg-storm: rgba(0, 0, 0, 0.3);
    --bg-overcast: rgba(0, 0, 0, 0.2);
    --bg-partly-cloudy: rgba(0, 0, 0, 0.1);
    --bg-snow: rgba(135, 206, 235, 0.5);
}

#weather-container {
    position: relative;
    bottom: 50vh;
    z-index: 0;
    height: 150vh;
    overflow: hidden;
}

#weather-container.clear-sky-animation {
    background-color: var(--bg-clear-sky);
}
.nighttime #weather-container.clear-sky-animation {
    background: var(--bg-clear-sky-night);
}
#weather-container.mainly-clear-animation {
    background-color: var(--bg-mainly-clear);
}
#weather-container.overcast-animation,
#weather-container.fog-animation,
#weather-container.rain-heavy-animation,
#weather-container.thunderstorm-heavy-animation {
    background-color: var(--bg-overcast);
}
#weather-container.partly-cloudy-animation,
#weather-container.rain-light-animation,
#weather-container.rain-moderate-animation {
    background-color: var(--bg-partly-cloudy);
}
#weather-container.snow-animation,
#weather-container.snow-light-animation,
#weather-container.snow-moderate-animation,
#weather-container.snow-heavy-animation {
    background-color: var(--bg-snow);
}
#weather-container.thunderstorm-heavy-animation {
    background-color: var(--bg-storm);
}


/* RAIN */
#weather-container.rain-light-animation .raindrop,
#weather-container.rain-moderate-animation .raindrop,
#weather-container.rain-heavy-animation .raindrop {
    position: absolute;
    background-color: grey;
    bottom: 100%; /* Start raindrops off-screen at the top */
    animation: rainfall linear infinite; /* Apply the "rainfall" animation */
    pointer-events: none; /* Allow interactions through the rain */
}

/* Keyframes for the rain animation */
@keyframes rainfall {
    0% {
        transform: translateY(-100%);
        opacity: 0; /* Start raindrops invisible */
    }
    80% {
        opacity: 1; /* Raindrops are fully visible */
    }
    100% {
        transform: translateY(100vh); /* Move raindrops to the bottom of viewport */
        opacity: 0; /* Fade out raindrops */
    }
}


/* CLOUDY */
.cloud {
    position: absolute;
    animation: moveClouds linear infinite;
}
.cloud-small svg {
    height: 25vh;
    width: 100vw;
}
.cloud-medium svg {
    height: 50vh;
    width: 100vw;
}
.cloud-large svg {
    height: 80vh;
    width: 100vw;
}
.cloud:nth-child(2n) svg {
    transform: scaleX(-1); /* Flip every second cloud horizontally */
}

@keyframes moveClouds {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(100vw);
    }
}
